
<ion-header>
  <ion-navbar>
    <ion-title class="ttl"> <span class="hdr">אנשי קשר</span>  <ion-icon (click)="toggleSearch()" id="srchicn"  name="search"></ion-icon></ion-title>
  </ion-navbar>
  <div  *ngIf="isSearchShown()"  class="srchM">
 <ion-item no-line class="srchM"  >

   <ion-select  class="icon ion-md-arrow-left" [(ngModel)]="chkVlue">    
     <div  class='optn' >
  <ion-option  value="uname" selected="true">שם המשתמש</ion-option>
    <ion-option   value="gender" >מגדר</ion-option>
     <ion-option   value="auth" >הרשאה</ion-option>>
       <ion-option   value="email" >אימייל</ion-option>
       </div>
  </ion-select>
   <ion-label> <div class="chkbx">  בחר סוג חיפוש והתחל להקליד
  <ion-icon  name="search"></ion-icon></div></ion-label>    
    </ion-item>

     <ion-icon (click)="helpBar()" id="hSrch" class="srchicn"  name="information-circle"></ion-icon> 
      <input class="srchBar" type="text" [(ngModel)]="srchStr"/> <ion-icon (click)="toggleSearch()" id="hSrch" class="srchicn"  name="arrow-dropup-circle"></ion-icon>     
         </div>
</ion-header>
<ion-content padding>
 <ion-list>
  <!--  <ion-item class="bkclr" *ngFor="let user of usersL;  let i=index" (click)="toggleGroup(i)" > -->
  <div  *ngFor="let user of usersL;let i=index">
    <ion-item  class='bkclr' *ngIf="startSearch(i)"  (click)="toggleGroup(i)" >
       <span  class="warper"><button  class="val">{{ user.uname }}</button> <div class="woot"> <ion-icon class="icons" name="person"></ion-icon>שם</div><br /><br /></span>
        <div *ngIf="isGroupShown(i)" class="warper"><button  class="val">{{ user.email }}</button>  <span class="woot"> <ion-icon class="icons" name="at"></ion-icon>    אימייל</span><br /> <br /> </div>
        <div *ngIf="isGroupShown(i)" class="warper"><button  class="val"> {{ user.fname }} </button>  <span class="woot"><ion-icon class="icons" name="contact"></ion-icon>  שם</span> <br /><br /></div>
       <div *ngIf="isGroupShown(i)" class="warper"><button  class="val">  {{ user.phoneN }} </button><span class="woot"><ion-icon class="icons" name="phone-portrait"></ion-icon>פלאפון </span><br /> <br /></div>
      <div *ngIf="isGroupShown(i)" class="warper">  {{ user.auth }} <span class="woot"> <ion-icon class="icons" name="settings"></ion-icon> הרשאה</span> <br /> <br /></div>   
      <div *ngIf="isGroupShown(i)" class="warper"> {{ user.gender }} <span class="woot"> <ion-icon class="icons" name="female"></ion-icon>  מגדר</span> <br /> </div>
    </ion-item>
  </div>
  </ion-list>
</ion-content>
