
<ion-header>
  <ion-navbar>
    <ion-title>Contacts</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
 <ion-list>
    <ion-item class="bkclr" *ngFor="let user of usersL;  let i=index" (click)="toggleGroup(i)" >
   <div class="warper">  <ion-icon class="icons" name="person"></ion-icon><span class="woot">User Name:</span> {{ user.uname }} </div>
        <div *ngIf="isGroupShown(i)" class="warper">  <ion-icon class="icons" name="at"></ion-icon> <span class="woot"> Email:</span>  {{ user.email }} </div>
        <div *ngIf="isGroupShown(i)" class="warper"><ion-icon class="icons" name="contact"></ion-icon><span class="woot"> First Name:</span> {{ user.fname }} </div>
       <div *ngIf="isGroupShown(i)" class="warper"> <ion-icon class="icons" name="phone-portrait"></ion-icon> <span class="woot"> Phone Num:</span> {{ user.phoneN }} </div>
      <div *ngIf="isGroupShown(i)" class="warper"> <ion-icon class="icons" name="settings"></ion-icon> <span class="woot"> Authentication:</span>  {{ user.auth }} </div>   
      <div *ngIf="isGroupShown(i)" class="warper"> <ion-icon class="icons" name="female"></ion-icon> <span class="woot">  Gender:</span>  {{ user.gender }} </div>
    </ion-item>
  </ion-list>
</ion-content>
