page-viewusers {

	.woot{
	
		color: #2b84d3;
			float:right;
		font-size:19px;
			
	}
	.srchicn{
		color:white;
		font-size:20px;

	}
.hdr{
	margin-right:15px;
}
	.srchBar{
	width:70%;
	height:33px;
	font-size:18px;
	margin-left:10px;
	padding-top:15px;
}
	.warper{
	font-size:17px;
	margin-top:5px;
			  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
				color:	#303030;
				margin-left:10%;
				
			

	}
	.srchM{
	background-color:white;
	width:100%;
	padding:0px !important;
}
	.slct{float:left;}
		.chkbx{
		 margin-left:20px;
		color:	#8A2BE2;
			font-size:18px;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			float:right;

	}
		#hSrch{
		font-size:32px;
		color: #2b84d3;
		font-weight: bold;
		margin-left:10px;
       background-color:#f9f9f9;
	
	}
	.ttl{
		float:right;
		
	}
	.icons{
		   margin-left:10px !important;
 margin-right:10px !important;
					color: $theme-color-2;
				font-size:28px;
				width:20px;
					float:right;
	}
		
	
	.bkclr:nth-child(even){
	background-color: #f1f1f1;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);

	}


	
	.bkclr:nth-child(odd){
		background-color: #f9f9f9;
	
	}
	.bkclr{
		
		  padding:0px !important;

	}
	.scroll-content{
		padding:0px !important;
				    -webkit-transition: height .3s ease-in-out;
			 transition: all .3s ease-in-out;

	}

}
