page-suggest {
    .feed-content
	{
		background-color: color($colors, background, base);
    }
#plus-icon{
    font-size:32px;
    color:white;
    margin-right:5px;
}

}
.buttons>div>div>div>div{
    text-align: center!important;
    font-weight: bold;
    font-size:1.5em!important;
}
.buttons>span{
    text-align: right!important;

}
