<ion-header>
  <ion-navbar>
    <button end ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: right">הצעת מוצר
    </ion-title>
    <ion-buttons end>
  <div (click)="openForm()" >
    <ion-icon name="add" id="plus-icon"></ion-icon>
  </div>
  
</ion-buttons>
<ion-buttons end>
<button ion-button icon-only (click)="actionController()">
  <ion-icon name="funnel"></ion-icon>
</button>
</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class = "feed-content">
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ng-container *ngFor = "let productDetail of productDetails.slice().reverse()|orderBy :sortBy" >
    <app-list  *ngIf="productDetail.Accepted===true" 
   [productDetail]="productDetail"></app-list>
    </ng-container>
  </ion-list>
</ion-content>
