<ion-header>
  <ion-navbar>
  
    <ion-title>הוספת מוצר
    </ion-title>

  </ion-navbar>
</ion-header>
<ion-content>
   <form #f='ngForm' (ngSubmit)="createTask(f)">
     <ion-row>
      

        <ion-col width-100>
         <ion-card (click)="takePicture()" id="image" padding margin>
           <img src="./assets/images/addImage.png" id="imageWidth" *ngIf="!base64Image">
           <img id="afterUploadImage"[src]="base64Image" *ngIf="base64Image" />
       </ion-card>
       </ion-col>
       

    
     </ion-row>
     <ion-row>
        <ion-item>
            <ion-label color="primary" floating text-right>שם מוצר</ion-label>
            <ion-input [(ngModel)]="name" name="name"></ion-input>
          </ion-item>
     </ion-row>
     <ion-row>
       <ion-item  >
       <ion-label color="primary" floating text-right>תיאור מוצר</ion-label>
       <ion-textarea class="text"  [(ngModel)]="description" name="description"></ion-textarea>
       </ion-item>
     </ion-row>
     <ion-row width-100>
        <button full margin  ion-button type="submit">הוספת מוצר</button>
     </ion-row>
   
   </form>
     <ion-row>
        <button full margin ion-button (click)="cancelButton()">חזרה</button>
     </ion-row>
</ion-content>