page-login {
 
 //background-image: "img/bg.jpg";
 .login{//
  
background-image: url("../assets/img/bg.jpg" );

 //<img src="img/card-saopaolo.png"/>
    	z-index: 0;
	 background-size: 100% 100%;
 }
 /*ion-card{

   height:25%;
   width:25%;
   margin:0 auto;
     box-shadow:none;
 }*/
 h3{
    color:white;
	text-shadow: 2px 0px 5px black, 0 5px 15px black, 0 0px 7px white;

}
 .qwe{ 
	 text-align:right;
	 font-weight: bold;
	 margin-top:20px;
     background-color:transparent;
	top: calc(100% - 35px);
      -webkit-box-shadow: inset 0px 0px 9px -1px #5379fa;
-moz-box-shadow: inset 0px 0px 9px -1px #5379fa;
box-shadow: inset 0px 0px 9px -1px #5379fa;
margin-bottom:15px;
 }
  .pass{ 
	  	 font-weight: bold;
	 text-align:right;
     background-color:transparent;
	top: calc(100% - 35px);
      -webkit-box-shadow: inset 0px 0px 9px -1px #5379fa;
-moz-box-shadow: inset 0px 0px 9px -1px #5379fa;
box-shadow: inset 0px 0px 9px -1px#5379fa;
 }
.login input[type=passwrod]:focus{
	outline: none;
	border: 1px solid black;
    box-shadow:0px;  
}
/*.lgnbtn:hover{
	outline: none;
	border: 1px solid red;
    box-shadow:0px;
} */

.ttt{
	
	float:right;
	margin-right:25px;
  //position:absolute;
//	top: calc(10% - 35px);
	//left: calc(50% - 150px);
	//right: clac(10%- 35px);
	z-index: 2;
    text-shadow: 2px 0px 5px black, 0 5px 15px black, 0 0px 7px blue;
}

.ttt div{
//	float: left;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	font-weight: 200;
}

.ttt div span{
	color: #5379fa !important;
}


.lgnbtn{	
      -webkit-box-shadow: inset 0px 0px 9px -1px rgba(0,0,0,1);
-moz-box-shadow: inset 0px 0px 9px -1px rgba(0,0,0,1);
box-shadow: inset 0px 0px 9px -1px rgba(0,0,0,1);
margin-top:30px;
//	background: transparent;

	cursor: pointer;
	//border-radius: 2px;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
height:35px;
background-color: #5379fa;

   // opacity: 0.5;
	 border-radius: 10px;
    //  text-shadow: 2px 0px 5px black, 0 5px 15px white, 0 0px 7px blue;
      }
.lgnbtn button{
//   background-color:transparent;
background-color:transparent;
}
.lgnbtn:hover{
  // border: 2px solid black;
   opacity: 0.7;
   background: #5379fa;
}
}