app-list-details{
    #image{
        margin: auto;
        max-height: 300px;
    }
    #description{
        width:90%;
        margin:auto;
       
    }
    #form{
        width:90%;
        margin:auto;
    }
    #date{
        text-align: right;
    }
    #name{
        font-size:2em;
        width:90%;
        margin:auto;

    }
}