<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Suggest A Production
    </ion-title>
   
  

  </ion-navbar>
</ion-header>
<ion-content id="listPage">
  
      <ion-scroll #yourScroll scrollY="true" class="messages"></ion-scroll>
        <img id="image" src= "{{imageUrl}}">
        
   
    <ion-row>
       

    </ion-row>
   
    <br>
    <ion-row>
        <ion-card #disc id="description">
             <p id="name">
        <b>
           
        {{name}}
        
        </b>
        </p>
                  <p>  {{description}}</p>
        </ion-card>

    </ion-row>
<hr>
    
       

</ion-content>