app-list-details{
 
    #image{
        margin: auto;
        height: 300px;
    }
    #description{
        width:90%;
        margin:auto;
        min-height: 200px;
        
    }
    .comment p{
       white-space: normal;
    }
    #description p{
        width:90%;
        margin:3px auto;
    }
    #form{
        width:90%;
        margin:auto;
    }
    #date{
        text-align: right;
    }
    #name{
        font-size:2em;
        text-align: center;

    }
}