app-facebook-list{
    .facebookCards{
        text-align: right;
        min-height:50px;
    }
    .markgreen{
        background:green;
        color:white;
    }
    .black-white{
        color:black;
        background:white;
    }
}