app-list{
.buttonDelete{
	padding:25px;
}
.reachedlikes{
	background:#eeffee;
}
.didntreachlikes{
	background: #ffffff;
}
.buttonDelete ion-icon{
	font-size:32px;
}
.item-title{
	text-align: right;
}
.item-text{
	text-align: right;
}

		.feed-item
		{
			transition: opacity 2s;
			@include basic-card-styles($white-d);

			.item-title
			{
				margin: 0px;
				margin-bottom: 12px;
				padding: 0px;
				letter-spacing: 1.1px;
				color: $theme-color-2;
			}
		}
	
    }
