
<div  class="feed-item" (click)="productDetails()">
        <ion-card [ngClass]="{'reachedlikes':productDetail.Likes > productDetail.numberOfLikes}">
          
          <ion-item-sliding>
            <ion-item>  
            <ion-thumbnail item-left>
       <img src="{{productDetail.imageUrl}}">
    </ion-thumbnail>
     <ion-card-content>
        <ion-card-title class="item-title">
          {{productDetail.name}}
        </ion-card-title>
        <p class="item-text">
          {{productDetail.description}}
        </p>
      </ion-card-content>
            </ion-item>
               <ion-item-options side="right" *ngIf="role==='admin'" > 
                     <button class="buttonDelete" ion-button color="secondary"  (click)="setStatus();$event.stopPropagation()">
    <ion-icon name="cube"></ion-icon>
        </button>
                
                 <button class="buttonDelete" ion-button   (click)="Approve();$event.stopPropagation()">
      <ion-icon name="checkmark"></ion-icon>
        </button>
                
        <button class="buttonDelete" ion-button color="danger"  (click)="deleteItem();$event.stopPropagation()">
      <ion-icon name="trash"></ion-icon></button>
       
                 
                 
      </ion-item-options>
          </ion-item-sliding>
     
     
      <ion-row no-padding class="actions-row">
        <ion-col no-padding width-30 text-left>
          <button class="action-button" (click)="onLike();$event.stopPropagation()" ion-button clear small icon-left>
            <ion-icon isActive="{{productDetail.liked}}"name='heart'></ion-icon>
            {{productDetail.Likes}} / {{productDetail.numberOfLikes}} Likes  
          </button>
        </ion-col>
        
        <ion-col no-padding width-37 text-center>
          <button (click)="openCommentBox();$event.stopPropagation()"class="action-button" ion-button clear small icon-left>
            <ion-icon name='chatbubbles'></ion-icon>
            {{productDetail.commentsNumber}} Comments
          </button>
        </ion-col>
         <ion-col no-padding width-33 text-right>
          <button class="action-button" ion-button clear small icon-left>
          Status: {{productDetail.status}}
          </button>
        </ion-col>
        
      </ion-row>
    </ion-card>
   
   
   
</div>
