
<div  class="feed-item" (click)="productDetails()">
        <ion-card [ngClass]="{'reachedlikes':productDetail.Likes > productDetail.numberOfLikes}">
          
          <ion-item-sliding  >
            <ion-item [ngClass]="{'reachedlikes':productDetail.Likes > productDetail.numberOfLikes}">  
      
     <ion-card-content>
        <ion-card-title class="item-title">
          {{productDetail.name}}
        </ion-card-title>
        <p class="item-text">
          {{productDetail.description}}
        </p>
      </ion-card-content>
            <ion-thumbnail item-right>
       <img src="{{productDetail.imageUrl}}">
    </ion-thumbnail>
            </ion-item>

               <ion-item-options *ngIf="AuthSup()" side="left"  > 
                         <div >
                     <button class="buttonDelete" ion-button color="secondary"  (click)="setStatus();$event.stopPropagation()">
    <ion-icon name="cube"></ion-icon>
        </button>
                
                
                
        <button class="buttonDelete" ion-button color="danger"  (click)="deleteItem();$event.stopPropagation()">
      <ion-icon name="trash"></ion-icon></button>
       
                 
                </div>       
      </ion-item-options>

          </ion-item-sliding>
     
     
      <ion-row no-padding class="actions-row">
        <ion-col no-padding width-30 text-center>
          <button    class="action-button" (click)="onLike();$event.stopPropagation()" ion-button clear small icon-left>
            <ion-icon [ngClass]="{activating:productDetail.liked}" name='heart'></ion-icon>
            {{productDetail.Likes}} / {{productDetail.numberOfLikes}}
          </button>
        </ion-col>
        
        <ion-col no-padding width-37 text-center>
          <button (click)="openCommentBox();$event.stopPropagation()"class="action-button" ion-button clear small icon-left>
            <ion-icon name='chatbubbles'></ion-icon>
            {{productDetail.commentsNumber}}
          </button>
        </ion-col>
         <ion-col no-padding width-33 text-center>
          <button class="action-button" ion-button clear small icon-left>
             <ion-icon name="cart"></ion-icon>
          {{productDetail.status}}
          </button>
        </ion-col>
        
      </ion-row>
    </ion-card>
   
   
   
</div>
