.status>div>div {
	text-align: center!important;
}
.status>div>div>div>button>span>div{
	text-align: right!important;
	font-size:1.1em;
	font-weight: bold;
}
app-list{
.green{
	color:green !important;
}
.yellow{
	color:#ffaa30 !important;

}
.red{
	color:red !important;
}
.buttonDelete{
	padding:25px;
}

.test1{
	text-align: right;
}
.status{
	text-size:1.2em;
	font-family: Arial, Helvetica, sans-serif;
	color:#c2c2c2;
	font-weight: bold;
}
.activating{
	color:red;
}
.reachedlikes{
	background:#eeffee;
}
.didntreachlikes{
	background: #ffffff;
}
.buttonDelete ion-icon{
	font-size:32px;
}
.item-title{
	text-align: right;
}
.item-text{
	text-align: right;
}

		.feed-item
		{
			transition: opacity 2s;
			@include basic-card-styles($white-d);

			.item-title
			{
				margin: 0px;
				margin-bottom: 12px;
				padding: 0px;
				letter-spacing: 1.1px;
				color: $theme-color-2;
			}
		}
	
    }

